.fade-in-image { animation: fadeIn 5s; }

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
  }
